body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #0b3040ff;
}

@font-face {
  font-family: lexend;
  src: url(assets/fonts/lexend.ttf);
}

@font-face {
  font-family: firacode;
  src: url(assets/fonts/firacode.ttf);
}

* {
  font-family: lexend;
}

.firacode {
  font-family: firacode !important;
}

#banner {
  position: fixed;
  background-color: #2a4a58;
  width: 100%;
  padding-top: 4vh;
  padding-bottom: 2vh;
}

.subjectstart {
  width: 15vw;
  height: auto;
  color: white;
  
  border-radius: 0.5em;
  border-width: 0.3em;
  border-color: #ffffff;
  border-style: solid;
  
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 4vw;
  margin-bottom: 0.4em;
}

.subjectnow {
  width: 17vw;
  height: auto;
  color: white;
  
  border-radius: 0.5em;
  border-width: 0.3em;
  border-color: #ffffff;
  border-style: solid;
  
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  
  box-shadow: 0 0 0.5em #ffffff;
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 4vw;
  margin-bottom: 0.4em;
}

.subjectend {
  width: 15vw;
  height: auto;
  color: white;
  background-color: transparent;
  
  border-radius: 0.5em;
  border-width: 0.2em;
  border-color: #ffffff;
  border-style: solid;
  
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 4vw;
  margin-bottom: 0.4em;
}

.subjecttime {
  border-radius: 1em;
  display: inline-block;
  background-color: #ffffff;
  color: black;
  padding: 1em;
  margin-left: 0.5em;
  margin-bottom: 0;
}
